.thirteen{
    background-color: #E6E6EA;
}

.content-lote{

    background-color: white;
    border-radius: 50px;
    width:80%;
    padding:40px;
    margin-left: 10%;
    color:black;
    margin-bottom: 50px;
    

    h2{
        border-bottom: 2px solid #147AC9;
        margin-bottom: 20px;
    }

    h5{
        padding:30px 0;
        border-top: 1px solid #127389;
        
    }
    
    h5:first-of-type{
        border-top: 0px solid #127389;
    }

   

}