@import '../../shared/scss/index.scss';

.estudios-content{
  
  float:left;
  background-color: #E6E6EA;
  width: 100%;
   overflow: hidden;
   padding: 30px;

   h3{
     color:black;
     text-align: center;
     border-bottom: 1px solid black;
   }
  
   .section-state{
     display:block;
     align-items: center;
     overflow:auto;
     

     
     
   }
  .contenedor-tarjeta{
    display:flex;
    align-items:center;
    width:30%;
    height:470px;
    
    float:left;
    
    margin-top: 50px;
    margin-bottom: 30px;

    .card{
     
      align-items: center;
      margin: 60px;
      height:100%;
      float:left;
      

      .header{
        text-align: center;
        margin:20px;
        width: 85%;

        
      }
    }


  }

  .ui.primary.button, .ui.primary.buttons .button {
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
    margin-top: 10px;
    width: 100%;
}

  .end{
    color:#E6E6EA;
    margin-bottom: 10px;
    border-bottom: 0px;
  }
    
}


